@import url(" https://fonts.cdnfonts.com/css/trek-arrowcaps")
  *{ 
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: flex;
    font-size: 20px;
    width: 80%; 
    height: 50px;
    background-color:darkgrey;

}
.header-list-item{ 
    display: flex;
    gap: 70px;
    font-size: 10px;
}
.search{
    position: relative;
    
}
.icon-search{
    position: absolute;
 right: 160px;
 bottom: 15px;
}
.Sport{
    font-family: 'Trek Arrowcaps', sans-serif;
    font-size: 20px;
}